body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    --lt-background: rgb(255, 251, 190);
    --lt-bright-contrast: rgb(182, 235, 218);
    --lt-dark-contrast: rgb(48, 48, 206);
    --lt-text: rgb(25, 25, 114);

    background-color: var(--lt-background);
    color: var(--lt-text);
}

main {
    padding: 1rem;
}

.description {
    display: flex;
    justify-content: space-evenly;

    
    font-size: 01rem;
    line-height: 1.4rem;;
}

.description div {
    width: 18rem;
    padding: 2vh 2vw;
    margin:  1rem;
    background-color: hsl(from var(--lt-bright-contrast) h s l / 30%);
    border-radius: 1rem;
}

.add-new-row, #calculate, #clear-all {
    margin: 1rem;
}

.flex {
    display: flex;
}

.description {
    /* display: none; */
}

button {
    margin: 0.3rem 1rem;
    padding: 0.5rem;
    background-color: var(--lt-bright-contrast);
    border-color: var(--lt-dark-contrast);
    border-radius: 1rem;
    font-size: 1rem;
}

button:hover {
    box-shadow: 0px 0px 18px -7px var(--lt-dark-contrast);
    background-color: hsl(from var(--lt-bright-contrast) h s 50 / alpha);
}

button:active {
    box-shadow: 0px 0px 18px -7px var(--lt-dark-contrast) inset;
}

h1, h2 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.4rem;
}