/* colours */
:root {
    /* light mode colours */
    --background: rgb(255, 251, 190);
    /* --background: hsl(246, 41%, 90%); */
    --bright-contrast: hsl(161, 57%, 82%);
    --dark-contrast: hsl(240, 62%, 50%);
    --text: hsl(240, 64%, 27%);
    --inactive: hsl(168, 6%, 84%);
    --vibrant-contrast: hsl(from var(--bright-contrast) h s 50 / alpha);
    --input-background: hsl(0, 0%, 100%);

    --error: hsla(335, 95%, 74%, 0.5);
    --clear-btn: hsl(from var(--bright-contrast) h 30 90 / alpha);


    --schedule-space-between: 0.2rem;
}

@media (prefers-color-scheme: dark) {
    :root {
    --background: hsl(240, 20%, 27%);
    --bright-contrast: hsl(175, 50%, 55%);
    --dark-contrast: hsl(278, 78%, 23%);
    --text: hsl(175, 0%, 95%);
    --inactive: hsl(180, 4%, 56%);
    --vibrant-contrast: hsl(from var(--bright-contrast) h s 40 / alpha);
    --input-background: hsl(from var(--background) h 30 40 / alpha);

    --error: hsla(335, 95%, 74%, 0.40);
    --clear-btn: hsl(from var(--bright-contrast) h 20 60 / alpha);

    }
}

/*  General element styling  */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
    color: var(--text);
    transition: var(--background-color 0.3s ease);
}

main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
}

h1, h2, h3 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1rem;
}

a {
    color: var(--text);
}

ol {
    font-size: 1.1rem;
    margin: 0;
    padding:0 1.5rem;
}

span, input {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

input { 
    padding: 0.5rem 1rem;
    font-size: 1rem;
    /* border-radius: 1rem;  TMP TODO - just square to help see alignment issues*/ 
    border-color: var(--dark-contrast);
    background-color: var(--input-background);
    color: var(--text);
    font-family: 'Courier New', Courier, monospace;

    &[type="number"] {
        width: 4rem;
    }

    &[type="text"] {
        font-family: inherit;
    }

    &[type="checkbox"] {
        display: none;
        accent-color: var(--dark-contrast);
        /* border-radius: 1rem; */
        /* margin: 0 0.5rem; */
    }
}

button {
    margin: 0 1rem;
    padding: 1rem;

    background-color: var(--bright-contrast);
    border-color: var(--dark-contrast);
    border-radius: 1rem;
    font-size: 1rem;
    text-align: center;

    &:hover {
        box-shadow: 0px 0px 18px -7px var(--dark-contrast);
        background-color: var(--vibrant-contrast);
    }

    &:active {
        box-shadow: 0px 0px 18px -7px var(--dark-contrast) inset;
    }

    &.inactive {
        background-color: var(--inactive);
        box-shadow: none;
        border-style: dotted;
    }

    &.inactive, &.delete-row {
        align-self: center;
        justify-self: center;
        margin-right: 0.5rem;
        padding: 0.5rem;
        font-size: 0.8rem;
        line-height: 0.5rem;
    }

}

/* General class styles */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

/* ------ Overall  grid layout (on .interactive)*/
.interactive {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 4rem;
    padding: 4rem;
}

/* .time-input layout  */

.time-input {
    flex-direction: column;
    align-items: center;

    & > div {
        display: flex;
        justify-content: space-between;
        /* align-items: center; */

    }

    & input {
        width: 8rem;
        flex-shrink: 0;
    }

    & button {
        /* margin: 0 1rem; */
    }
}

/* .schedule-input layout */
.schedule-input {
    grid-column: 2 / 5 ;

}

/*  .action-buttons layout */
.action-buttons {
    grid-column-start: 5;
    flex-direction: column;

    & button {
        margin:  0 1rem 1rem 1rem;
        width: 10rem;
    }
}

/* .description layout */

.description {
    display: flex;
    justify-content: space-evenly;
    font-size: 01rem;
    line-height: 1.4rem;

    & div {
        width: 30rem;
        padding : 2vh 2vw;
        margin:  1rem;
        background-color: hsl(from var(--bright-contrast) h s l / 30%);
        border-radius: 1rem;    
    }

    & ul, & p {
        margin: 1rem;
        padding-left: 1rem;
    }

    & li {
        padding-bottom: 0.8rem;
    }
}

/* Error/alert styling */

.error-message {
    font-size: 1rem;
    
    & p {
        margin: 1rem;
        padding: 1rem;
        border-radius: 1rem;
        background-color: var(--error);
    }
}

.input-error {
    background-color: var(--error);
}

.clear-btn {
    background-color: var(--clear-btn);
}

/* layout media queries */

/* smallest screen layout - single column */
@media (width <= 650px) {
    body, main {
        margin: 0;
        padding: 0;
        align-items: center;
    }
    
    button {
        width: 10rem;

        &.inactive, &.delete-row {
            width: auto;
        }
    }

    .interactive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        /* width:80vw; */
        padding: 1rem 0;
    }

    .time-input {
        /* grid-column-start: 1;
        grid-row-start: 1;
        align-items: center; */
        
        & > div {
            width: 100%;
            justify-content: center;
            margin-top: var(--schedule-space-between);
        }

        & label {
            width: 25vw;
        }

        & input {
            margin-left: 1rem;
        }

        & button {
            margin: 1rem auto;
        }

    }

    .schedule-input {
        order: 1;
        padding: 0;

        & ol {
            padding: 0;
        }

        & li {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            /* align-items: center;
            align-content: center; */

            margin-bottom: 1rem;
            font-size: 1rem;


            /* task name */
            & input[type="text"] {
                order: 1;
                width: 70vw;
                margin: 0 var(--schedule-space-between) var(--schedule-space-between) 0;
            }

            & button {
                order: 2;
                margin: 0;
                margin-bottom: var(--schedule-space-between);
            }


            & span {
                order: 3;
                width: 17.5vw;
                margin: 0;
            }

            & input[type="number"] {
                order: 4;
                width: 15vw;
                margin-left: var(--schedule-space-between);
            }

            & input + span {
                order: 5;
                margin-left: var(--schedule-space-between);
            }


        }

        & button.add-new-row {
            margin: auto;
            display: block;
        }
    }

    .action-buttons {
        /* grid-column-start: 1; */
        /* grid-row-start: 2; */
        margin: 2rem auto;
    }

    .description {
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        padding-bottom: 0.5rem;

        & > div {
            width: 80vw;
            margin: 0.5rem 0;
            padding: 1rem;
        }
    }

    div.error-message {
        flex-direction: column;
    }
}

/* adjustment between breakpoints */
@media (width >= 533px) {
    div.schedule-input {
        padding: 1rem;

        & span.task-end-time {
            width: 3rem;
            margin-left: 2rem;
        }
    }
}

/* medium layout - two column*/
@media (width > 650px) {

    .interactive {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 10rem repeat(2, 1fr);

        margin-top: 1rem;
        padding: 0.5rem;

        button {
            margin: 1rem;
        }

        & .time-input{
            /* grid-row: 1 / 1; */
            /* grid-column: 1 / 1; */
            
            & > div {
                margin-bottom: var(--schedule-space-between);
            }

            & label {
                margin-right: var(--schedule-space-between);
            }

            & button {
                margin-top: 1rem;
            }

            & .error-message {
                margin-top: 10rem;
            }
        }

        & .schedule-input {
            grid-column-start: 2;
            grid-row: 1 / 4;
        }
        
        & .action-buttons {
            grid-column-start: 1;
            /* grid-row-start: 2; */
            order: 2;

            align-items: center;
        }
    }

    .description {
        flex-wrap: wrap;
    }
}