body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}

.add-new-row, #calculate, #clear-all {
    display: block;
    margin: 1rem;
}

.description {
    display: none;
}

/* use variables for colours plz! want to support dark mode */